<form asp-action="Giaiptbac2">
    <p>
        <label>He so A</label>
        <input class="w3-input" type="text" name="hesoA">
    </p>
    <p>
        <label>He so B</label>
        <input class="w3-input" type="text" name="hesoB">
    </p>
    <p>
        <label>He so C</label>
        <input class="w3-input" type="text" name="hesoC">
    </p>
    <p>
        <input type="submit" value="Giải phương trình">
    </p>
</form>
